@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* bear  */
.wowBtn{
  background-color:transparent !important;
  /* color: #F44336 !important; */
  text-align: center;
  -webkit-text-fill-color: white !important;
  background-image: none ;
  -webkit-background-clip:content-box !important; 
  background-clip: content-box !important;


}
.wowBtn button{
  background-color:#0e1116 !important;



}
.bear{
  position: absolute;
  top: -17px;
  z-index: 0;
  right: 0%;
  width:45px;
  height:45px;
  animation: moveApear 1.5s infinite alternate;
  
}
.bear2{
  position: absolute;
  top: -4px;
  z-index: 0;

  width:60px;
  height:60px;
  right: 65% !important;
  animation: moveApear2 1.5s infinite alternate;
}

.title-span-engaging:hover .bear ,.title-span-engaging:hover .bear2{
  display: none;
}

.title-span-engaging{
  width: 19%;
}
@keyframes moveApear2{
  0%{
    top: -24px;
  }
  100%{
    top: 33px;
  }
}
@keyframes moveApear{
  0%{
top: 8px;

  }

  100%{
    top: -12px;
    
      }

}
@media (max-width:760px){
  @keyframes moveApear2{
    0%{
      top: -15px;
    }
    100%{
      top: 12px;
    }
  }
  @keyframes moveApear{
    0%{
  top: 2px;
  
    }
  
    100%{
      top: -9px;
      
        }
  
  }
  .bear{
    top: -17px;
    right: 0%;
    width: 30px;
   
  }
  .bear2{
    top: 5px;
    right: 0%;
    width: 30px;
  }
  .title-span-engaging{
    width: 35% ;
  }
}
@media (min-width:761px) and (max-width:900px){
  .bear{
   
    width: 40px;
   
  }
  .bear2{
  
    width: 40px;
  }
}
/* bear  */

/* start heregenatic  */
.heregenatic{
  
}
.heregenatic .hero_graphic{
width: 40%;
margin: 10px auto;
}
@media (max-width: 779px){
  .heregenatic .hero_graphic{
    width: 100%;
  
    }
}
/* @media (min-width: 480px) and (max-width: 781px)
{
 
} */
/* end heregenatic  */

@media (max-width: 479px){
  .max-w-7xl.text-center{
    font-size: 17px;
    line-height: 1.5;
  }
  .how-heading-grow{
    font-size: 1.25rem !important;
  }
}
/* end responsive alltext in website  */

@media (max-width: 479px)
{
  .title-ideas-lottie
{
  top: 30% !important;
  width: 154px !important;
}
}
@media (min-width: 480px) and (max-width: 991px)

{
  .title-ideas-lottie{

    width: 200px !important;
  }
}


.hide_display{
    display: none;
}
/* start filterCompany */
.filterCompany{
 position: relative;
 margin-top: 30px;
}
.filterPopup.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
 z-index: 0;
 transition: .5s ease-in;
  
}

.filterPopup .filterPopupContent{
    
    position: absolute;
  
    padding: 20px 30px;
    bottom: 100vh;
    left: 25%;
    z-index: 1111;
    background-color: #fff;
transform: translateY(50%);
  height: 500px;
    transition: .5s;
    width: 50%;
    color: black !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: .5s ease-in;
}
.popUpMainContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.closeFilterPuoUp{
    transition: .5s ease-in;
    font-size: 25px;
    display: flex;
   justify-content: flex-end;
   width: 100%;
}
.popUpMainContent h3{
  font-weight: 300;
}
.filterPopup .filterPopupContent p.filterPopupTitle{
    font-family: inherit;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    color: #020303;
}

.filterPopup .filterPopupContent .filterPopupRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.filterPopup .filterPopupContent .filterPopupRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.filterPopup .filterPopupContent .filterPopupRow .filterPopupCell h6,.filterPopupteqhnology h6{
    color: #020303 !important;
    font-weight: 700 !important;
 
    text-transform: capitalize;
}
.filterPopup .filterPopupContent .filterPopupRow .filterPopupCell p ,.filterPopupteqhnology p{
    color: #556170 !important;
    font-size: 14px !important;
}

.filterCompany .filterContent{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 30px;
 
}
.filterCompany .filterContent .filterbox{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 

}
.filterCompany .filterContent .filterbox .filterTitle{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.filterCompany .filterContent .filterbox .filterTitle h2{
    font-family: "Maeve Regular", sans-serif;
    font-size: 18px;
   font-style: normal;
    font-weight: 400;
  letter-spacing: 0em;
    line-height: 1.4em;
 
  text-align: center;
   color: #ffffff;
   text-decoration: none;
   text-transform: lowercase;
margin-top: 0;
}
.filterCompany .filterContent .filterbox .filterButtons{
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
justify-content: center;
align-items: center;
max-width: 650px;

}
.filterCompany .filterContent .filterbox button{
    font-size: 18px;
    line-height: 1.6;
    background-color: #ebebeb;
    border: none;
    color: #556170;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    padding: 5px 15px;
    position: relative;
    transition: background .1s ease;
    white-space: nowrap;
    text-transform: capitalize;
    border-bottom-width: 0px;
    border-color: rgb(41, 41, 41);
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 1px;
    background-color:rgb(26, 26, 26);
    border-radius: 24px;
    opacity: 1;
}

.filterCompany .filterContent .filterbox button.active{
    background-color: rgb(101, 255, 117);
    color: #020303;
}
/* .filterCompany .filterContent .filterbox .filterButtons button:hover{
    background-color: rgb(101, 255, 117);
    color: #020303;
} */
.filterCompany .filterSideMenu{
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    gap: 30px;
    height: 550px;
    width: 50%;
    display: flex;
    align-items: start !important;
cursor: pointer;


}
.filterCompany .filterSideMenu .filterCart{
    display: flex;
    justify-content: space-between;
    align-items: start;
gap: 20px;
position: relative;


}
.filterCompany .filterSideMenu .filterCart .image{
    flex-shrink: 0;
    height: 170px;
    margin-right: 15px;
    width: 220px;
object-fit: contain;
}
.filterCompany .filterSideMenu .filterCart .image img{
    width: 100%;
    height: 100%;
}
.filterCompany .filterSideMenu .filterCart .info{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.filterCompany .filterSideMenu .filterCart .info .infoTitle{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.filterCompany .filterSideMenu .filterCart .info .infoTitle h3{
  color: white;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-size: 24px;
}
.filterCompany .filterSideMenu .filterCart .info .infoTitle p{
  color: white;
  font-weight: 400 !important;
  line-height: 19px !important;
  font-size: 16px !important;

}
.filterCompany .filterSideMenu .filterCart::after
{
    content: "";
    position: absolute;
    border-bottom: .1px solid #556170;
    top: -14px;
    width: 550px;
}
/* custon skroll */
/* width */
.filterCompany ::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .filterCompany ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   .filterCompany .filtercartntn{
    display: flex;
    gap: 14px;
   }
   .filterCompany .filtercartntn button{
   background-color: #ebebeb;
    color: #556170;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    transition: background .1s ease;
    white-space: nowrap;
   }
  /* Handle */
  .filterCompany ::-webkit-scrollbar-thumb {
    background: #888; 
  }
/* custon skroll */
/* end filterCompany */
/* responsive */
@media (max-width:640px) {
    .filterCompany .filterContent .filterbox .filterButtons{
        gap: 5px;
    }
    .filterCompany .filterContent .filterbox .filterButtons button{
        font-size: 12px;
        padding: 0px 12px;
    }
    .filterCompany .filterSideMenu {
        width: 90%;
    }
    .filterCompany .filterSideMenu .filterCart .image{
        width: 100% !important;
    }
  
}
@media (max-width:680px) {
  .filterPopup .filterPopupContent{
    height: fit-content !important;
  }
    .filterCompany .filterSideMenu .filterCart .image{
        width: 250px ;
    }
    .filterPopup .filterPopupContent{
        gap: 10px;
        overflow-y: auto;
    }
    .filterPopup .filterPopupContent .filterPopupRow{
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 0px !important;
        justify-content: flex-start;
    }
  
    .filterPopupteqhnology{
      margin-top: -10px;
    }
    .filterCompany .filterSideMenu .filterCart{
        flex-direction: column;
       align-items: center;
       width: 100%;
      
      }
      .filterCompany .filterSideMenu .filterCart .info .infoTitle{
        text-align: center;
        margin: 0 auto;
      }
      .popUpMainContent{
        gap: 0;
      }
      .popUpMainContent h3{
        margin-top: 0 !important;
        
      }
      .filterPopup .filterPopupContent{
        padding: 5px 13px;
        padding-bottom: 0px;
      }
      .filterPopup .filterPopupContent .filterPopupRow .filterPopupCell h6{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
      .filterPopup .filterPopupContent .filterPopupRow .filterPopupCell p, .filterPopupteqhnology p{
        font-size: 12px !important;
        line-height: 21px;
        margin-bottom: 5px;
      }
}
.nonedata{
  display: none;
}
@media (max-width:768px) {
    .filterPopup .filterPopupContent{
       
    left: 10%;
   
    height: 450px;
    
    width: 80%;
   
    }
    .filterCompany .filterSideMenu .filterCart .image{
        width: 300px;
    }
    .filterCompany .filterSideMenu .filterCart{
      flex-direction: column;
     
    
    }
}
@media (min-width: 769px) and (max-width: 1050px)  {
    .filterCompany .filterSideMenu .filterCart{
        gap: 0;
      
    }
    .filterCompany .filterSideMenu .filterCart .image{
        width: 180px;
    }
}
/* responsive */
/* startchat */
.chat{
display: flex;
justify-content: center;
align-items: center;
}
.chat .content{
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 20px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 800px;
    margin: 0 auto;
}
.chat .content img{
    width: 26px;
    height: 25px;
border-radius: 50%;
}
.chat .content .left{
    place-content: start center;
    align-items: start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 8px;
    height: auto;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
    text-align: start;
}
.chat .content .right{
    place-content: end center;
    align-items: end;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 8px;
    height: auto;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
  
}
.chat .content .right .text{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 50%;
    align-items: flex-end;
    text-align: start;
}

.chat .content .right .text p{
    border-bottom-width: 0px;
    border-color: var(--token-3053a932-1fff-4b28-8bfa-32fc47006333, #292929);
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 1px;
    place-content: start flex-start;
    align-items: start;
    background-color: var(--token-0db1bc0a-e3d7-4455-91f6-5c64e8fea643, #2ffec2);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: wrap;
    gap: 16px;
    height: min-content;
    overflow: visible;
    padding: 10px;
    position: relative;
    width: fit-content;
    color: #292929;
}
.left .sendText{
    border-bottom-width: 0px;
    border-color: var(--token-3053a932-1fff-4b28-8bfa-32fc47006333, #292929);
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 1px;
    place-content: start flex-start;
    align-items: start;
    background-color: var(--token-f7af88c8-3249-4d89-b6f5-2588a88428f2, #1a1a1a);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: wrap;
    gap: 16px;
    height: min-content;
    overflow: visible;
    padding: 10px;
    position: relative;
    width: auto;
}

/* responsive chat */
@media (max-width: 860px){
    .chat .content{
        width: 100%;
    }
    .chat .content .right .text{
        width: 100%;
    }
    .chat .content .right .text div{
        width:100%;
        display: flex;
    }
    .chat .content .right .text div p{
        width:100%;
        
    }
}

/* responsive chat*/
/* endtchat */
.hoverBG{
    transition: .5s ease;
    padding: 10px;
    border-radius: 10px;
}
.hoverBG:hover{
    background-color: rgb(138 138 138);
    color: #fff !important;
   

}

/* start inmationThreed  */
.inmationThreed{
max-height: 200px;

width: fit-content;
overflow: hidden;
margin-top: 150px;
}
@keyframes movingTopToBottom {
    0% {
     transform: translateY(-100%);
    }

   100%{
    transform: translateY(100%);
   }
  
   
 
  }
@keyframes movingTopToBottom2 {
    0% {
     transform: translateY(-200%);
    }

   100%{
    transform: translateY(0%);
   }
  
   
 
  }
  .MaininmiText{
    display: flex;
    flex-direction: column;
   /* gap: 20px; */
  }
  .inmiText{
    display: flex;
    flex-direction: column;
   gap: 10px;
   animation: movingTopToBottom 20s linear infinite;
   animation-delay: -20s;

  }
  .inmiText li{
   color: rgb(255, 241, 224 );
   font-family: "__Manrope_8f5b94", "__Manrope_Fallback_8f5b94";
   
   font-weight: 700;
   
   font-size: 120px;
   /* letter-spacing: 1px; */
 text-transform: uppercase;
   line-height: 0.7em;
  }
  .inmiText li:hover{
    background-color: transparent;
  }
 
  .MaininmiText .inmiText:nth-child(2){
    animation: movingTopToBottom2 20s linear infinite;
    animation-delay: -10s;
 
  }
#divTAReviews {
    /* animation: movingTopToBottom 5s linear infinite; */
    position: relative;
  
    display: inline-block;
    /* padding: 10px; */
  }
  @media (max-width: 500px){
    .inmiText{
        padding-left: 0;
    }
    .inmiText li{
        font-size: 60px;
    }
  }
/* end inmationThreed  */
/* start croussal  */
@keyframes sliderCrousal {
  0% {
   transform: translateX(100%);
  }

 100%{
  transform: translateX(-100%);
 }
}
@keyframes sliderCrousal2 {
  0% {
   transform: translateX(0%);
  }

 100%{
  transform: translateX(-200%);
 }

 

}
.recentWorkSec{
  position: relative;
  max-width: 100%;
}
.overlayrecentWorkSec{
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000091;
  z-index: 110;
  width: 100%;
  height: 99%;

 
}
.croussal{

    margin-bottom: 10px !important;
    display: flex;
   
    overflow-x: hidden;
    overflow: hidden;
}

.recentWorkSec .portfol{
  width: 440px;
  background-color: #fff;
  border-radius: 140px;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 16px;
  display: flex;
  box-shadow: 1px 1px 19px rgba(0, 0, 0, .07);
  margin-bottom: -50px;
  z-index: 111;
  position: relative;

}
.recentWorkSec .portfol img {
  width: 80px;
  max-width: none;
  margin-right: 10px;
  border-radius: 50%;

}
.recentWorkSec .portfol .recentWork {
  font-size: 50px;
  line-height: 40px;
  color: #000;
    font-family: Lota grotesque semi, sans-serif;
    /* font-size: 22px; */
    font-weight: 700;
    text-decoration: none;

}

/* responve  */
@media screen and (max-width: 479px)
{

  .recentWorkSec .portfol {
    width: 277px;
    margin-top: 0;
    padding: 10px 16px ;
}
  .recentWorkSec .portfol img{
    width: 57px;
    
}
  .recentWorkSec .portfol .recentWork {
   font-size: 29px;
    
}
}

/* responve  */

.wrapper {
    display: flex;
    /* overflow-y: hidden; */
    width: 100%;
  
  animation: sliderCrousal 100s linear infinite;
  animation-delay: -100s;
  /* width: 60 !important; */
    height: 100% !important;
    /* scroll-snap-type: x; */
    cursor: pointer !important;
    /* scroll-behavior: smooth;
    scrollbar-width: none;  */
    /* for firefox */
    /* border-radius: 15px; */
    width: 7000px !important;
    height: 420px !important;
  }
  .secWrapper{
    animation: sliderCrousal2 100s linear infinite;
    animation-delay: -50s;
   
    
  }
  .wrapper::-webkit-scrollbar { /* for chrome */
    display: none;
  }
  
  .seccrousal .wrapper{
    animation: sliderCrousal 120s linear infinite;
    animation-delay: -120px;
  }
  .seccrousal .secWrapper{
    animation: sliderCrousal2 120s linear infinite;
    animation-delay: -60s;
  }
  .slider {
    
    width: 400px !important;
    height: 420px !important;
    /* aspect-ratio:  1.45455 / 1; */
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    scroll-snap-align: start;
    font-weight: 600;
    user-select: none;
    /* width: 100% !important; */
    /* height: 100% !important; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 19px rgba(0, 0, 0, .07);
    border:10px solid #252121 !important;
margin: 10px;
border-radius: 10px;

  }
  .wrapper img{
height:100%;
width: 100%;
object-fit: cover;
/* background-color: #222; */
/* border-radius: 15px; */
/* overflow: hidden; */
/* background-color: red; */
  }
  @media (max-width: 500px){
    .wrapper{
      height: 220px !important;
    }
    .slider{
        width: 250px !important;
    }
  }
/* start croussal  */
/* start animation section- */
.animationService{
    min-height: 600px;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    align-items: center;
}
.animiTitle{
    max-width: 730px;
    font-weight: 700;
text-align: center;
margin: 0 auto;
line-height: 55px;
}
.services_main_block{
    width: 100%;
    height: 470px;
    position: relative;
 overflow-x: hidden;
}
.services_main_block .sv-main{
   
        border-top-left-radius: 440px;
        border-bottom-left-radius: 440px;
        position: absolute;
        top: 0;
        left: 50%;
        overflow: hidden;
        /* background-color: white; */
   
}
.your_business {
    width: 50%;
    height: 470px;
    justify-content: center;
    align-items: center;
  
    display: flex;
    position: absolute;
    left: 0;
  overflow-x: hidden;
  }
  .yb{
    z-index: 111;
    padding-left: 240px;
  }
  .designup {
    z-index: 2;
    width: 180px;
    height: 470px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: auto;
    left: 44%;
  }
  .sv-main .Mainservices {
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow-x: hidden;
    font-size: 60px;
    padding: 2.8rem 0;
    border-top-left-radius: 240px;
    border-bottom-left-radius: 240px;
    /* transform: translateZ(0); */
}
.lines{
width: 100%;
overflow: hidden;
height: 6px;
}
.dottedLine{
  display: block;
  width: 300px;
  height: 1px;
  border: 1.4px dotted white;
  /* padding-right: 51px; */
  /* position: absolute; */
  left: -28px;
  position: relative;
  animation: movingleftRight 40s linear infinite;
  animation-delay:-40s;
}
.dottedLine:nth-child(1){
  bottom: -2px;
}
.dottedLine:nth-child(2){
  animation: movingleftRight 40s linear infinite;
  animation-delay:-20s;
}
@keyframes movingleftRight {
  
   0% {
        transform: translatex(100%);
    }
     100% {
        transform: translatex(-100%);
      }
 
   
 
  }
@keyframes movingleftRight2 {
  
   0% {
        transform: translatex(0);
    }
     100% {
        transform: translatex(-200%);
      }
 
   
 
  }
.sv-main .services_inner_list {
    width: 500%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 28px;
    margin-left: 0;
    display: flex;
    /* position: static; */
   position: relative;
   /* right: 0; */
   /* transform: translateX(100%); */
   /* animation-name:  movingleftRight; */
   /* animation-duration: 14s;
   animation-timing-function: linear;
   animation-iteration-count: infinite; */
   gap: 10px;
  }
.services_inner_list .list2{
  display: flex;
animation: movingleftRight 40s linear infinite;
animation-delay:-40s;

}
.services_inner_list .list2:nth-child(2){
  animation: movingleftRight2 40s linear infinite;
  animation-delay:-20s;
}
 .sv-main .service_name {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 auto;
    margin-left: 0;
    font-size: 30px;
    line-height: 50px;
    /* display: block; */
    /* position: relative; */
    position: relative;
 
  }
  .service_name.dot {
    margin-left: 20px;
    margin-right: 20px;
  }
  
.dot {
    color: #4807ea;
    margin-left: 20px;
    margin-right: 10px;
  } 
  @keyframes movingleftRightIMg {
  
    0% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(-60px);
      }
 
   
 
  }
  .yb-bar{
    /* animation: movingleftRight 5s linear infinite; */
    position: relative;
    /* animation-name:  movingleftRightIMg; */
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
  } 
  .designup img{
    border-radius: 50%;
}
  /* responsive  */
  @media (max-width: 450px){
    .animiTitle{
        font-size: 18px;
        line-height: 30px;
    }
    .your_business{
        display: none;
    }
    .services_main_block .sv-main{
        left: 10px;
    }
    .designup{
        left: -25px;
        top: -5%;
    }
}
@media (min-width:451px) and (max-width: 991px){
  .designup{
    left: 38%;
    
}
.yb{
  
  padding-left: 116px;
}
}
  /* responsive  */
  /* priceresponsive */
  @media (min-width:768px){
    .custumResponsive{
  
      grid-template-columns: repeat(2, minmax(0, 1fr));
    
    }
  }

  /* priceresponsive */
/* end animation section- */


/* start getStartedBtn  */
@keyframes movingBtn{
  0%{
    transform: translateY(-20%);
  }
}
.ContaingetStartedBtn{
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column wrap;
  gap: 40px;
  height: min-content;
  max-width: 1000px;
  overflow: visible;
  padding: 35px;
  position: relative;
  text-decoration: none;
  width: 100%;
  position: relative;
  border-bottom-width: 1px;
  border-color: rgba(48, 48, 48, 0.819);

  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    border-radius: 100px;
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: row;
    gap: 0px;
    height: min-content;
    padding: 40px 50px;
    position: relative;
    text-decoration: none;
    width: min-content;
 transition: .5s ease;
 overflow:hidden;
 width: 320px;
 height: 45px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
}

.getStartedBtn{
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 10px;
  height: 30px;
  min-width: 201px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: min-content;
  border: none !important;
  font-size: 22px;
  text-transform: uppercase;
  transition: top 0.7s;
  -moz-transition: top 0.7s;
  -webkit-transition: top 0.7s; 
  -o-transition: top 0.7s; 
  -ms-transition: top 0.7s; 
  position: absolute;
  width: 180px;
  height: 80px;
  padding-left: 10px;
}
.ContaingetStartedBtn:hover{
  border-color: #3e3e3e;
 
}
.ContaingetStartedBtn:hover .primary {
  top:-80px
}

.ContaingetStartedBtn:hover .secondary {
  top:0px
}

.primary {
  top: 0px;
}

.secondary {
  top: 80px;
}

@media (max-width:445px){
  .ContaingetStartedBtn{
    width: 100%;
  }
}
/* end getStartedBtn  */


/* start Copyteam */
.Copyteam{
  margin-top: 50px;
}
.Copyteam .content{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.Copyteam .content h1{
  font-size: 60px;
}
.Copyteam .content .teamInfo{
 max-width: 66%;
 text-align: start;

}
.Copyteam .content .teamInfo h4{
font-size: 32px;
font-weight: 400;
 line-height:1.1em;
}
.Copyteam .teamFounderSec{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 200px;
 
}
.Copyteam .imageInfo{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  
}

.Copyteam .imageInfo img{
  margin-bottom: 10px;
}
.Copyteam .imageInfo a{
text-decoration: underline;
font-size: 12px;
}
.Copyteam .imageInfo p{
  font-size: 12px;

}
.Copyteam .imageInfo a:hover{
color: #d2b7f6;
}
.Copyteam .infoAboutFounder{
  display: flex;
  flex-direction: column;
 width: 100%;
 align-items: start;
 flex-wrap: wrap;
}
.Copyteam .infoAboutFounder .infoTilte{
text-align: start;
font-size: 16px;
    font-style: normal;
    font-weight: 400;
   letter-spacing: 0em;
    line-height: 1.4em;
   
 
}
.Copyteam .infoPercent{
  display: flex;
  text-align: start;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.Copyteam .infoPercent .leftInfo h3{
 font-family: "PP Neue Montreal Regular", "PP Neue Montreal Regular Placeholder", sans-serif;
  font-size: 36px;
 font-style: normal;
font-weight: 400;
letter-spacing: 0em;
 line-height: 1.1em;
text-align: start;
  text-decoration: none;
}
.Copyteam .infoPercent .leftInfo p{
  font-family: "PP Neue Montreal Regular", "PP Neue Montreal Regular Placeholder", sans-serif;
  font-size: 12px;
    font-style: normal;
   font-weight: 400;
   letter-spacing: 0em;
    line-height: 1.6em;
 text-align: start;
  
}
/* respinsiveTeam  */
@media  (max-width: 767px){
  .Copyteam .content .teamInfo{
    max-width: 100%;
  }
  .Copyteam .content .teamInfo h4{
    font-size: 25px;
  }
  .Copyteam .teamFounderSec{
    flex-direction: column-reverse;
    gap: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1030px){
  .Copyteam .teamFounderSec{
  
    gap: 50px;
    flex-direction: column-reverse;
  }
}
/* respinsiveTeam  */
/* end Copyteam */